@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  /* font-style: normal; */
  scroll-behavior: smooth;
  background-color: #09090a;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
